.swiper_box{
	margin: 0 auto;height: 440px;position: relative;
}

.swiper_box_item{
	padding-top: 80px; transition: left 1s;position: absolute;top: 0;
}

.swiper_box_item_img{
	width: 60%; height:auto; margin: 0 auto;
}

.swiper_box_item_box{
	width: 100%; box-sizing:border-box; padding: 20px 10px; background: #005ca1; margin-top: -40px;position: relative;z-index: 6; color: #fff; display: none;
}

.swiper_box_item_box_h2{
	font-size: 20px; padding-bottom: 10px; line-height: 24px; border-bottom: 1px solid #4587b9; margin-bottom: 10px;
}

.swiper_box_item_box_p{
	font-size: 14px; line-height: 26px; height: 52px; overflow:hidden;text-overflow: ellipsis;-webkit-box-orient:vertical;display: -webkit-box; -webkit-line-clamp:2; margin-bottom: 15px;
}

.swiper_box_item_box_a{
	width: 100px; height: 36px; line-height: 36px; border-radius: 5px; border:1px solid #eee; color: #fff; text-align: center; display: block; margin: 0 auto;font-size: 18px;
}

.on{
	display: block;
}

.on_img{
	width: 90%;
}

.swiper_box_item_on{
	padding-top: 20px;
}