<div id="contentTwo_app" style="height: 100%">
	
	<div class="w1200 oh" v-if="currentUrl=='/midteSport.html'">
		<div class="portLisbox1 pdt50">
			<ul>
				<template v-for="item in contentData">
					<li>
						<a :href="'./detailPage.html?id='+item.id">
							<img class="photo" :src="item.mainImg[0]?item.mainImg[0].url:''">
							<div class="list">
								<h2>{{item.title}}</h2>
								<p class="tex2">{{item.description}}</p>
								<p class="data">{{item.description}}</p>
							</div>
						</a>
					</li>
				</template>
					
			</ul>
		</div>

		<div class="all-pages">
			<span>
				共:{{allPages}}页
			</span>
        	<span class="no-prev" data-type="back" @click="changePage">上一页</span>
			<template v-for="item in pageArray">
				<span :class="item == paginate.currentPage?'current':''" :data-page="item" @click="linkTo">{{item}}</span>
			</template>
            <!-- <a href="#">2</a><a href="#">3</a>&nbsp;...&nbsp;<a href="#">100</a> --><a  class="next" data-type="next" @click="changePage">下一页</a>
        </div>
	</div>
	<div class="portLisTwo pdb100" v-if="currentUrl=='/sportsEvtsList.html'">
		<div class="w1200">
			<ul>
				<template v-for="item in contentData">
					<li>
						<a :href="'./detailPage.html?id='+item.id">
							<img class="pic" :src="item.mainImg[0]?item.mainImg[0].url:''">
							<div class="infor">
								<h1 class="tit">{{item.title}}</h1>
								<p class="tex">{{item.description}}</p>
								<span class="more">了解更多&gt;&gt;</span>
							</div>
						</a>
					</li>
				</template>
				
			</ul>
		</div>
		<div class="all-pages">
			<span>
				共:{{allPages}}页
			</span>
	    	<span class="no-prev" data-type="back" @click="changePage">上一页</span>
			<template v-for="item in pageArray">
				<span :class="item == paginate.currentPage?'current':''" :data-page="item" @click="linkTo">{{item}}</span>
			</template>
	        <!-- <a href="#">2</a><a href="#">3</a>&nbsp;...&nbsp;<a href="#">100</a> --><a  class="next" data-type="next" @click="changePage">下一页</a>
	    </div>
	</div>

	<div class="exceltlist w1200" v-if="currentUrl=='/excellentList.html'">
		<div>
			<ul>
				<template v-for="item in contentData">
					<li>
						<a :href="'./detailPage.html?id='+item.id">
							<img class="pic" :src="item.mainImg[0]?item.mainImg[0].url:''">
							<h1 class="tit">{{item.title}}</h1>
							<p class="tex">{{item.description}}</p>
						</a>
					</li>
				</template>
			</ul>
		</div>
		<div class="all-pages">
			<span>
				共:{{allPages}}页
			</span>
	    	<span class="no-prev" data-type="back" @click="changePage">上一页</span>
			<template v-for="item in pageArray">
				<span :class="item == paginate.currentPage?'current':''" :data-page="item" @click="linkTo">{{item}}</span>
			</template>
	        <!-- <a href="#">2</a><a href="#">3</a>&nbsp;...&nbsp;<a href="#">100</a> --><a  class="next" data-type="next" @click="changePage">下一页</a>
	    </div>
	</div>
</div>

	
<script type="text/javascript">
	var contentTwo_app = new Vue({
	    el: '#contentTwo_app',
	    data:function(){
	        return {
	        	banner_index:0,
	        	is_toggle:false,
				is_show:false,
				contentData:[],
				labelData:{},
				allPages:'',
				pageArray:[],
				o_paginate:{
					count: 0, 
				    currentPage: 1, 
				    pagesize:1, 
				    is_page: true, 
				},
				paginate: { 
				    count: 0, 
				    currentPage: 1, 
				    pagesize:1, 
				    is_page: true, 
				},
				currentId:0,
				currentIndex:0,
				currentTitle:'',
				currentUrl:''
	        }
	    },
	    created:function () {
	        var self = this;
	        var currentUrl = window.base.GetUrlRelativePath();
		
			var reg = /\/([^\/]+)\.html/i;
			if(reg.exec(currentUrl)&&reg.exec(currentUrl)[0]){
				self.currentUrl = reg.exec(currentUrl)[0];
			}else{
				self.currentUrl = '/index.html';
			};
			console.log('self.currentUrl',self.currentUrl)
			//window.base.bus.$emit('from_contentTwo',{});
    		window.base.bus.$on('to_contentTwo',(res)=>{
    		console.log('to_contentTwo',res)	
	        	this.to_contentTwo(res);
		    });
	    },
	    methods: {

	    	labelChange:function(id,index){
	    		var self = this;
	    		self.currentId = id;	
	    		self.getMainData(true)
	    	},

	    	to_contentTwo:function(res){
	    		var self = this;
	    		if(res.paginate){
	        		self.o_paginate = res.paginate;
	        		self.paginate = self.o_paginate;
	        	};
	    		if(res.labelData){
	        		self.labelData = res.labelData;
	        		self.currentId = self.labelData.id;
	        		self.getMainData()
	        	};
	        	
	    	},

			getMainData: function(isNew){
			    var self = this;
			    if(isNew){
			    	self.paginate = self.o_paginate;
			    	self.contentData = [];
			    };
			    var postData = {};
			    postData.paginate = window.base.cloneForm(self.paginate);
		    	postData.searchItem = {
			    	thirdapp_id:2,
			    	menu_id:self.currentId
			    };
			    var callback = function(res) { 
			        self.contentData = res.info.data;
			        self.currentTitle = 'niu';
			        self.paginate['count'] = res.info.total;
			        window.base.computePageArr(self);
			        console.log('self.contentData',self.contentData)
			    };
			    window.base.articleList(postData, callback);
			},
	        
	    	changePage:function(e) {
				var self = this;
				var dataSet = window.base.getDataSet(e);
				window.base.changePage(dataSet, self);
				self.getMainData(true);
			},

			linkTo:function(e) {
				var self = this;
				console.log(e);
				self.linkPage = window.base.getDataSet(e).page;
				var res = window.base.linkTo(self);
				if(res){
					self.getMainData(true);
				};	
			},
	
	    }
	});
</script>