<footer class="oh footer">
	<div class="w1200" id="footer_app">
		<div class="linkNav center">
			<a href="aboutAx.html">关于翱翔</a>
			<a href="ceeSport.html">高考体育</a>
			<a href="midteSport.html">中考体育</a>
			<a href="canteraList.html">青训</a>
			<a href="sportsEvtsList.html">体育赛事承办</a>
			<a href="activityList.html">活动中心</a>
			<a href="contactUs.html">联系我们</a>
		</div>
		<div class="underCnt oh">
			<img class="logo fl" src="images/logo-wzi.png">
			<div class="phone fl">
				<!-- <div><i class="iconfont">&#xe6ad;</i><em>{{phone}}</em></div> -->
				<div><i class="iconfont">&#xe71f;</i>
				<div  v-for="item in phoneData.child" style="padding-left: 0px;">
					<em>{{item.title}}</em>
					<em>{{item.description}}</em>
				</div>
				
				</div>
				<div><i class="iconfont">&#xe6ad;</i><em>{{address}}</em></div>
			</div>
			<div class="ewmBox fr center">
				<div class="lis" v-for="item in qrData.child"><img :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''">
				<p>{{item.title}}</p>
				</div>	
			</div>
		</div>
		<div class="center copyright"><a href="http://beian.miit.gov.cn/">陕ICP备19015535号-1</a></div>
	</div>
</footer>
<script type="text/javascript">

	var footer_app = new Vue({
	    el: '#footer_app',
	    data:function(){
	        return {
	        	is_toggle:false,
				qrImg:[],
				address:'',
				phone:'',
				qrData:[],
				phoneData:[]
	        }
	    },
	    created:function () {
	        var self = this;
			self.getMainData();
	        self.getQrData();
			self.getPhoneData()
	    },
	    methods: {
			
			getPhoneData(id) {
				var self = this;
				var postData = {};
				postData.searchItem = {
					thirdapp_id:2,
					title:'电话'
				};
				postData.getAfter = {
					child: {
						tableName: 'Label',
						middleKey: 'id',
						key: 'parentid',
						searchItem: {
							status: 1,
						},
						condition: '='
					},
				};
			
				var callback = (res) => {
					self.phoneData = res.info.data[0];
					
				};
				window.base.labelGet(postData, callback);
			},
			
			getQrData(id) {
				var self = this;
				var postData = {};
				postData.searchItem = {
					thirdapp_id:2,
					title:'二维码'
				};
				postData.getAfter = {
					child: {
						tableName: 'Label',
						middleKey: 'id',
						key: 'parentid',
						searchItem: {
							status: 1,
						},
						condition: '='
					},
				};
			
				var callback = (res) => {
					self.qrData = res.info.data[0];
					
				};
				window.base.labelGet(postData, callback);
			},
			
			getMainData: function(id) {
				var self = this;
				var postData = {};
				postData.searchItem = {
					thirdapp_id:2,
					title:'联系我们'
				};
				postData.getAfter = {
					child: {
						tableName: 'Label',
						middleKey: 'id',
						key: 'parentid',
						searchItem: {
							status: 1,
						},
						condition: '='
					},
				};

				var callback = (res) => {
					console.log('getMainData', res);
					self.mainData = res.info.data[0];
					for (var i = self.mainData['child'].length - 1; i >= 0; i--) {
						
						if(self.mainData['child'][i].title=="地址"){
							self.address = self.mainData['child'][i].description
						};
					
					}
				};
				window.base.labelGet(postData, callback);
			},
	        
	    	
	    }
	});   
</script>